.mySwiper {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .mySwiper {
    display: block;
    height: 70vh;
    cursor: grab;
    margin-bottom: 50px;
  }
  .swiper-slide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-position: center;
    background-size: cover;
  }
}
