@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  font-family: "Roboto";
  --dark-green: #0d3032;
  --medium-green: #007079;
  --light-green: #348c91;
  --orange: #f5981e;
  --text-color: #7a7a7a;
  --brown: #4c4d41;
  --moss-green: #51663b;
  --yellow-green: #b6b545;
}

body {
  margin: 0;
}

.smol-flexbox-grid {
  --min: 10ch;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--gap);
}

a {
  text-decoration: none;
}

p {
  color: var(--text-color);
}
