---
import ContactForm from "../components/ContactForm.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contato">
  <main>
    <div class="p-8">
      <h2 class="text-3xl font-bold text-teal-900 mb-10">
        Entre em contato conosco!
      </h2>
      <div class="grid grid-cols-2">
        <ContactForm />
        <p>Bla</p>
      </div>
    </div>
  </main>
</Layout>
