---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.svelte";
import Highlights from "../components/Highlights.astro";
import SabiaPresentation from "../components/SabiaPresentation.astro";
import ProductHighlight from "../components/ProductHighlight.astro";
import Diferentials from "../components/Diferentials.astro";
import Purposes from "../components/Purposes.astro";
import Team from "../components/Team.astro";
import Partners from "../components/Partners.astro";
---

<Layout
  title="Microforge - O futuro da Biologia Molecular passa por aqui!"
  description="Produzimos insumos de biologia molecular para laboratórios, 100% nacionais, para facilitar a rotina dos cientistas brasileiros."
>
  <main>
    <Carousel client:visible />
    <Highlights />
    <SabiaPresentation />
    <ProductHighlight />
    <Diferentials />
    <Purposes />
    <Team />
    <Partners />
  </main>
</Layout>
