---
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.svelte";
import Highlights from "../components/Highlights.astro";
---

<Layout title="Microforge - O futuro da Biologia Molecular passa por aqui!">
  <main>
    <Carousel client:visible />
    <Highlights />
  </main>
</Layout>
