---
import Layout from "../layouts/Layout.astro";
import tecidos from "../images/sample_drawing/tecidos.webp";
import maracaja from "../images/maracaja.webp";
import innovationGroup from "../images/partners/innovation_group.webp";
---

<Layout title="Microforge - P&D">
  <div class="flex flex-col items-center p-8">
    <h2 class="mb-10 self-start text-3xl font-bold text-teal-900">
      Inovação e Pesquisa para um Futuro Sustentável
    </h2>
    <p class="mb-6 w-3/4 text-justify">
      A Microforge surge de um ambiente de pesquisa e da inovação, e seguimos comprometidos com o avanço da ciência e da biotecnologia. Nossa missão é transformar conhecimento em soluções de alto impacto, desenvolvendo tecnologias que impulsionam a indústria e beneficiam a sociedade.
    </p>
    
    <div class="mb-12 w-3/4 bg-gray-100 p-6 rounded-lg shadow-lg">
      <h3 class="mb-4 text-xl font-bold text-teal-900">
        Produção Sustentável de Canabidiol - Projeto Aprovado pela Finep
      </h3>
      <p class="mb-4 text-justify">
        Estamos à frente de um projeto inovador apoiado pela Finep - A Financiadora de Estudos e Projetos que é uma empresa pública brasileira vinculada ao Ministério da Ciência, Tecnologia e Inovação - no qual utilizamos técnicas de engenharia genética para otimizar vias metabólicas de leveduras e cana-de-açúcar, como matéria prima, para a produção sustentável de canabidiol. Essa abordagem biotecnológica abre novas possibilidades para a indústria farmacêutica, viabilizando a síntese de compostos com alta pureza e eficiência.
      </p>
      <p class="text-justify">
        Nosso objetivo é desenvolver alternativas escaláveis, com relevância social e ambientalmente responsáveis. Explorando, assim, o potencial das leveduras como biofábricas de moléculas de interesse.
      </p>
    </div>
    
    <div class="mb-12 w-3/4 bg-gray-100 p-6 rounded-lg shadow-lg">
      <h3 class="mb-4 text-xl font-bold text-teal-900">
        Soluções em Fermentação e Valorização de Resíduos
      </h3>
      <p class="mb-4 text-justify">
        Além dos nossos projetos de pesquisa, oferecemos serviços com foco em fermentação e reaproveitamento de resíduos, criando soluções inovadoras para diversos setores:
      </p>
      <p class="mb-4 text-justify">
        <ul class="list-disc list-inside text-justify">
          <li>Desenvolvimento de processos fermentativos para aplicações industriais e farmacêuticas.</li>
          <li>Extração e purificação de compostos bioativos a partir de matérias-primas renováveis.</li>
          <li>Aproveitamento de subprodutos e resíduos para reduzir desperdícios e agregar valor à cadeia produtiva.</li>
        </ul>
      </p>
      <p class="mb-4 text-justify"></p>
      <p class="mb-4 text-justify">
        Nos desafiamos a explorar novas fronteiras da biotecnologia em busca de soluções que possam transformar os materiáis, antes descartados, em valor real.
      </p>
    </div>
    
    <!-- <a
      target="_blank"
      class="max-w-1/4 mb-20 rounded-lg bg-teal-900 p-4 text-center text-white hover:bg-amber-500 font-bold text-lg"
      rel="noopener noreferrer"
      href="https://api.whatsapp.com/send?phone=5519999453544&text=Ol%C3%A1!%20Gostaria%20de%20ajuda%20para%20um%20planejamento%20experimental"
      >📞 Fale com um cientista</a
    >
     -->
    <h2 class="mb-10 self-start text-3xl font-bold text-teal-900">
      Casos de Sucesso
    </h2>
    <div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
      <div class="rounded-lg border p-4 shadow-lg">
        <img src={tecidos.src} class="mx-auto" alt="" />
        <h3 class="mb-2 text-center text-lg font-bold text-teal-900">Sabiá Tecidos</h3>
        <p class="text-justify">
          O kit de tecidos da Linha Sabiá foi desenvolvido inicialmente para extração eficiente de nadadeiras de peixes. Hoje, expandimos suas aplicações para diferentes tipos de tecidos biológicos.
        </p>
      </div>
      <div class="rounded-lg border p-4 shadow-lg">
        <img src={maracaja.src} class="mx-auto w-60" alt="" />
        <h3 class="mb-2 text-center text-lg font-bold text-teal-900">Lise Rápida Maracajá</h3>
        <p class="text-justify">
          Nossa solução de lise rápida permitiu reduzir custos e aumentar a eficiência no diagnóstico de COVID-19, garantindo resultados ágeis e confiáveis para laboratórios de alto fluxo.
        </p>
      </div>
      <div class="rounded-lg border p-4 shadow-lg">
        <img src={innovationGroup.src} class="mx-auto w-[19rem]" alt="" />
        <h3 class="mb-2 text-center text-lg font-bold text-teal-900">Parcerias com Universidades</h3>
        <p class="text-justify">
          Como empresa-filha da Unicamp, colaboramos com universidades e centros de pesquisa para impulsionar inovações em biotecnologia e biologia molecular.
        </p>
      </div>
    </div>
  </div>
</Layout>