---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre">
  <main>
    <div class="p-8">
      <h2 class="text-3xl font-bold text-teal-900 mb-10">Nossa motivação</h2>
    </div>
  </main>
</Layout>
