<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerPolicy="no-referrer"
/>

<!-- <a
  class="fixed bottom-5 right-5 z-50 md:right-10"
  href="https://api.whatsapp.com/send?phone=5519999453544"
  target="_blank"
> -->
  <!-- <i
    class="fa-brands fa-whatsapp rounded-xl border-2 border-teal-700 bg-teal-700 p-2 text-3xl text-white duration-300 hover:bg-white hover:text-teal-700 md:p-4"
  ></i> -->
</a>
