---
const diferentials = [
  {
    title: "Valores competitivos",
    color: "bg-teal-800",
  },
  {
    title: "Entrega ágil para todo o Brasil",
    color: "bg-teal-700",
  },
  {
    title: "Customizável para sua rotina",
    color: "bg-teal-900",
  },
  {
    title: "P&D para suas demandas",
    color: "bg-slate-400",
  },
  {
    title: "Assessoria para implementação",
    color: "bg-green-500",
  },
  {
    title: "Suporte técnico acessível",
    color: "bg-amber-500",
  },
];
---

<h2 class="text-center text-3xl font-bold mb-10 mt-10 text-teal-900">
  Nossos diferenciais
</h2>
<div class="grid grid-cols-3 mx-48 gap-3 items-center justify-center">
  {
    diferentials.map((diferential, idx) => (
      <div
        class={`flex flex-col p-2 items-center justify-center rounded-lg mb-4 ${diferential.color}`}
      >
        <img src={`/src/images/dif${idx + 1}.webp`} class="w-16 h-16" />

        <h3 class="text-center text-xl font-bold mb-4 text-white">
          {diferential.title}
        </h3>
      </div>
    ))
  }
</div>
