---
import MailingForm from "./MailingForm.svelte";
---

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerPolicy="no-referrer"
/>

<div
  class="bg-teal-900 text-white mt-auto grid md:grid-cols-2 py-8 md:pl-20 lg:pl-auto"
>
  <div class="flex flex-col gap-10">
    <div class="flex items-center gap-4">
      <i class="fa-sharp fa-solid fa-location-dot p-2 rounded-full bg-teal-500"
      ></i>
      <p>
        Av Prefeito José Lozano Araújo 1136B
        <br />Jardim Ypê, Paulínia, Sp, CEP 13140-558
      </p>
    </div>
    <div class="flex items-center gap-4">
      <i class="fa-brands fa-whatsapp p-2 rounded-full bg-teal-500"></i>
      <p>(19) 99945-3544</p>
    </div>
    <div class="flex items-center gap-4">
      <i class="fa-solid fa-phone p-2 rounded-full bg-teal-500"></i>
      <p>(19) 3844-3051</p>
    </div>
    <div class="flex gap-2 mt-5 md:mt-0">
      <a href="https://www.facebook.com/100068091380187/" target="_blank"
        ><i
          class="fa-brands fa-facebook bg-teal-700 rounded-full text-white text-2xl p-2 hover:opacity-80"
        ></i>
      </a>
      <a href="https://www.instagram.com/micro.forge/" target="_blank"
        ><i
          class="fa-brands fa-instagram bg-teal-700 rounded-full text-white text-2xl p-2 hover:opacity-80"
        ></i>
      </a>
      <a href="https://www.linkedin.com/company/microforge/" target="_blank"
        ><i
          class="fa-brands fa-linkedin bg-teal-700 rounded-full text-white text-2xl p-2 hover:opacity-80"
        ></i>
      </a>
      <a href="mailto:comercial@micro-forge.com" target="_blank"
        ><i
          class="fa-solid fa-envelope bg-teal-700 rounded-full text-white text-2xl p-2 hover:opacity-80"
        ></i>
      </a>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <h2>Páginas</h2>
    <a
      class="border-b-2 border-b-transparent hover:border-b-teal-900"
      href="/sobre">sobre</a
    >
    <a
      class="border-b-2 border-b-transparent hover:border-b-teal-900"
      href="/produtos">produtos</a
    >
    <a
      class="border-b-2 border-b-transparent hover:border-b-teal-900"
      href="/pd">p&d</a
    >
    <a
      class="border-b-2 border-b-transparent hover:border-b-teal-900"
      href="/blog">blog</a
    >
    <a
      class="border-b-2 border-b-transparent hover:border-b-teal-900"
      href="/contato">contato</a
    >
    <MailingForm />
  </div>
</div>
