---
import CartFlyoutToggle from "./CartFlyoutToggle.svelte";
import logo from "../images/logo-horizontal.webp";
---

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerPolicy="no-referrer"
/>

<nav
  id="header"
  class="flex flex-wrap justify-evenly gap-4 sticky top-0 left-0 right-0 p-8 z-40 items-center transition-all ease-in-out duration-300 bg-white"
>
  <a href="/">
    <img
      class="hover:opacity-60 transition delay-150 h-20"
      src={logo.src}
      alt=""
    />
  </a>
  <div class="flex justify-center gap-2 md:gap-5 text-xl">
    <a
      class="border-b-2 border-b-transparent hover:border-b-teal-900"
      href="/sobre">sobre</a
    >
    <a
      class="border-b-2 border-b-transparent hover:border-b-teal-900"
      href="/produtos">produtos</a
    >
    <a
      class="border-b-2 border-b-transparent hover:border-b-teal-900"
      href="/pd">p&d</a
    >
    <a
      class="border-b-2 border-b-transparent hover:border-b-teal-900"
      href="/blog">blog</a
    >
    <a
      class="border-b-2 border-b-transparent hover:border-b-teal-900"
      href="/contato">contato</a
    >
    <CartFlyoutToggle client:load />
  </div>

  <div class="flex gap-2 mt-5 md:mt-0">
    <a href="https://www.facebook.com/100068091380187/" target="_blank"
      ><i
        class="fa-brands fa-facebook text-teal-900 text-2xl p-1 hover:opacity-80"
      ></i>
    </a>
    <a href="https://www.instagram.com/micro.forge/" target="_blank"
      ><i
        class="fa-brands fa-instagram text-teal-900 text-2xl p-1 hover:opacity-80"
      ></i>
    </a>
    <a href="https://www.linkedin.com/company/microforge/" target="_blank"
      ><i
        class="fa-brands fa-linkedin text-teal-900 text-2xl p-1 hover:opacity-80"
      ></i>
    </a>
    <a href="mailto:comercial@micro-forge.com" target="_blank"
      ><i
        class="fa-solid fa-envelope text-teal-900 text-2xl p-1 hover:opacity-80"
      ></i>
    </a>
    <a href="https://api.whatsapp.com/send?phone=5519999453544" target="_blank"
      ><i
        class="fa-brands fa-whatsapp text-teal-900 text-2xl p-1 hover:opacity-80"
      ></i>
    </a>
  </div>
</nav>

<script>
  // Hide and Show Desktop Header //
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (currentScrollPos === 0) {
      document.getElementById("header").style.opacity = "1";
    } else if (prevScrollpos > currentScrollPos) {
      document.getElementById("header").style.opacity = "1";
    } else {
      document.getElementById("header").style.opacity = "0";
    }
    prevScrollpos = currentScrollPos;
  };
</script>

<script>
  const navLinks = document.querySelectorAll("nav a");

  navLinks.forEach((link) => {
    link.classList.remove("text-teal-900", "border-b-teal-900");

    // `slice` here to remove the first `/` in pathname
    const currentPath = window.location.pathname.slice("1");

    // `link.href` returns a whole url, such as: "https://somedomain.com/posts" and we only need the last part
    const hrefArray = link.href.split("/");
    const thisPath = hrefArray[hrefArray.length - 1];

    if (currentPath === thisPath && currentPath !== "") {
      link.classList.add("text-teal-900", "border-b-2", "border-b-teal-900");
    }
  });
</script>
