---
import sample from "../images/amostra.webp";
import experiencia from "../images/experiencia.webp";
import qualificacao from "../images/qualificacao.webp";
---

<!-- <div>
  <h2 class="mb-10 mt-10 text-center text-3xl font-bold text-teal-900">
    Nossos diferenciais
  </h2>
  <div class="mb-20 flex md:ml-5 lg:mr-60 lg:justify-center">
    <img class="h-28" src={sample.src} alt="" />
    <p class="flex flex-col self-center justify-self-start">
      <span class="mb-2 text-4xl font-bold text-amber-500">+300 mil</span>
      exames realizados no Brasil inteiro
    </p>
  </div>
  <div class="mb-20 flex justify-center md:ml-20">
    <img class="h-28" src={experiencia.src} alt="" />
    <p class="flex flex-col self-center justify-self-start">
      <span class="mb-2 text-4xl font-bold text-amber-500">+14 anos</span>de
      experiência com o mercado de biologia molecular
    </p>
  </div>
  <div class="mb-20 flex justify-center md:ml-60">
    <img class="h-28" src={qualificacao.src} alt="" />
    <p class="flex flex-col self-center justify-self-start">
      <span class="mb-2 text-4xl font-bold text-amber-500"
        >alta qualificação</span
      ><br />da nossa equipe técnica
    </p>
  </div>
</div> -->
