---
const { name, img } = Astro.props;
---

<div>
  <img src={img.src} alt={name} />
  <p>{name}</p>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    height: 8rem;
  }

  p {
    color: var(--dark-green);
    font-weight: 700;
  }
</style>
