---
import { useStoryblokApi } from "@storyblok/astro";
import ProductShowcase from "./ProductShowcase.astro";

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get("cdn/stories", {
  version: import.meta.env.DEV ? "draft" : "published",
  content_type: "Product",
  sort_by: "created_at",
  filter_query: {
    featured: {
      in: "true",
    },
  },
});

const products = data.stories.map((product) => {
  return {
    name: product.content.name,
    image: product.content.image,
    slug: product.full_slug,
    featured: product.content.featured,
  };
});
---

<section>
  <h2 class="text-center text-3xl font-bold mb-10 mt-10 text-teal-900">
    Produtos em destaque
  </h2>
  <div class="mx-5">
    <ProductShowcase products={products} />
  </div>
</section>
