---
const { products } = Astro.props;
---

<div class="grid place-items-center gap-4 md:grid-cols-2 lg:grid-cols-4">
  {
    products.map((product) => (
      <a
        class="w-10/12 rounded-md border transition-all duration-300 hover:scale-105 hover:border-teal-600"
        href={product.slug}
      >
        <h3 class="p-2 text-center text-lg text-teal-900">{product.name}</h3>

        <img
          class="mx-auto mb-5 w-3/4 rounded-md hover:opacity-75"
          src={product.image}
          alt={product.name}
        />
        {product.featured && (
          <p class="p-2 text-right text-teal-500">
            <span class="rounded-lg border border-teal-500  p-1">Destaque</span>
          </p>
        )}
      </a>
    ))
  }
</div>
