---
import purpose1 from "../images/proposito1.webp";
import purpose2 from "../images/proposito2.webp";
import purpose3 from "../images/proposito3.webp";

const purposes = [
  {
    title: "Prazer em ser cientista",
    description:
      "Viver na fronteira do conhecimento é ao mesmo tempo recompensante e desafiador. Tornamos os preparativos para sua experimentação simples pra você focar no que importa: a verdade",
    image: purpose1,
  },
  {
    title: "A comunidade",
    description:
      "Absolutamente tudo que facilita nossas vidas tem um pouquinho de ciência. Com cientistas mais felizes, a sociedade progride mais rapidamente e a vida fica mais simples e melhor de ser vivida",
    image: purpose2,
  },
  {
    title: "Biorreverente",
    description:
      "Temos como objetivo cuidar, zelar e respeitar tudo o que tem vida. Dessa maneira, mantemos o equilíbrio, a qualidade e a continuidade do que é nosso. Simples assim.",
    image: purpose3,
  },
];
---

<div
  class="mb-5 bg-[url('/src/images/propositos_fundo.webp')] bg-cover bg-no-repeat p-5 md:p-20"
>
  <h2 class="text-center text-2xl font-bold text-teal-900 md:text-start">
    Nossos propósitos
  </h2>
  <p class="mb-10 text-center text-xl md:text-left">
    Tornar a ciência prazerosa para quem faz, encantadora para quem vive e
    biorreverente
  </p>
  <div class="mb-5 grid gap-4 md:grid-cols-3">
    {
      purposes.map((purpose, idx) => (
        <div class="flex max-w-sm flex-col rounded-lg border-4 border-white bg-slate-200 p-2 opacity-90 shadow-2xl">
          <img class="mb-5 rounded-t-lg" src={purpose.image.src} alt="" />
          <h3 class="mb-2 text-center text-lg text-teal-900">
            {purpose.title}
          </h3>
          <p>{purpose.description}</p>
        </div>
      ))
    }
  </div>
</div>
