---
import KitImg from "./Kit-Img.astro";
import tecidos from "../images/sample_drawing/tecidos.webp";
import sangue from "../images/sample_drawing/sangue.webp";
import saliva from "../images/sample_drawing/saliva.webp";
import semen from "../images/sample_drawing/semen.webp";
import microrganismos from "../images/sample_drawing/microrganismos.webp";
import virus from "../images/sample_drawing/virus.webp";
import plantas from "../images/sample_drawing/plantas.webp";

const kitTypes = [
  { name: "tecidos", img: tecidos, link: "sabia-tecidos" },
  { name: "sangue", img: sangue, link: "sabia-sangue" },
  { name: "saliva", img: saliva, link: "sabia-viral" },
  { name: "semen", img: semen, link: "sabia-semen" },
  { name: "microrganismos", img: microrganismos, link: "sabia-microrganismos" },
  { name: "viral", img: virus, link: "sabia-viral" },
  { name: "plantas", img: plantas, link: "sabia-plantas" },
];
---

<div
  class="mb-12 flex flex-col bg-[url('/src/images/fundo_kits.webp')] bg-cover bg-fixed bg-center bg-no-repeat p-2"
>
  <h2 class="text-bold p-6 text-center text-2xl text-white">
    A Linha Sabiá tem kits de extração por beads magnéticas para sua amostra
  </h2>
  <hr class="w-3/4 self-center border-b-2 bg-white" />
  <div
    class="my-10 mx-auto grid w-3/4 grid-cols-[repeat(auto-fit,minmax(min(100%,_15ch),_1fr))] items-center justify-center gap-4 rounded-2xl border bg-slate-50 p-5 opacity-80"
  >
    {
      kitTypes.map((kitType) => (
        <a href={`/produtos/linha-sabia/${kitType.link}`}>
          <KitImg name={kitType.name} img={kitType.img} />
        </a>
      ))
    }
  </div>
  <hr class="w-3/4 self-center border-b-2 bg-white" />
  <div
    class="button my-10 mx-auto rounded-2xl bg-amber-500 p-3 text-white hover:cursor-pointer hover:opacity-90"
  >
    <a href="/produtos/linha-sabia"><button>saiba mais</button></a>
  </div>
</div>
