---
import KitImg from "./Kit-Img.astro";
import tecidos from "../images/sample_drawing/tecidos.webp";
import sangue from "../images/sample_drawing/sangue.webp";
import saliva from "../images/sample_drawing/saliva.webp";
import semen from "../images/sample_drawing/semen.webp";
import microrganismos from "../images/sample_drawing/microrganismos.webp";
import virus from "../images/sample_drawing/virus.webp";
import plantas from "../images/sample_drawing/plantas.webp";

const kitTypes = [
  { name: "tecidos", img: tecidos, link: "sabia-tecidos" },
  { name: "sangue", img: sangue, link: "sabia-sangue" },
  { name: "saliva", img: saliva, link: "sabia-viral" },
  { name: "semen", img: semen, link: "sabia-semen" },
  { name: "microrganismos", img: microrganismos, link: "sabia-microrganismos" },
  { name: "viral", img: virus, link: "sabia-viral" },
  { name: "plantas", img: plantas, link: "sabia-plantas" },
];
---

<div
  class="bg-[url('/src/images/fundo_kits.webp')] flex flex-col bg-fixed bg-center bg-cover bg-no-repeat p-2 mb-12"
>
  <h2 class="p-6 text-center text-white text-2xl text-bold">
    A Linha Sabiá tem kits de extração por beads magnéticas para sua amostra
  </h2>
  <hr class="self-center border-b-2 bg-white w-3/4" />
  <div
    class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(min(100%,_15ch),_1fr))] w-3/4 my-10 mx-auto items-center justify-center bg-slate-50 opacity-80 border rounded-2xl p-5"
  >
    {
      kitTypes.map((kitType) => (
        <a href={`/produtos/linha-sabia/${kitType.link}`}>
          <KitImg name={kitType.name} img={kitType.img} />
        </a>
      ))
    }
  </div>
  <hr class="self-center border-b-2 bg-white w-3/4" />
  <div
    class="button my-10 mx-auto bg-amber-500 rounded-2xl text-white hover:cursor-pointer hover:opacity-90 p-3"
  >
    <a href="/produtos/linha-sabia"><button>saiba mais</button></a>
  </div>
</div>
