---
import KitImg from "./Kit-Img.astro";
const names = [
  "tecidos",
  "sangue",
  "semen",
  "saliva",
  "microrganismos",
  "virus",
  "plantas",
];
---

<div
  class="bg-[url('src/images/fundo_kits.webp')] flex flex-col bg-fixed bg-center bg-cover bg-no-repeat p-2 mb-12"
>
  <h2 class="p-6 text-center text-white text-2xl text-bold">
    A Linha Sabiá tem kits de extração por beads magnéticas para sua amostra
  </h2>
  <hr class="self-center border-b-2 bg-white w-3/4" />
  <div
    class="grid gap-4 grid-cols-[repeat(auto-fit,minmax(min(100%,_15ch),_1fr))] w-3/4 my-10 mx-auto items-center justify-center bg-slate-50 opacity-80 border rounded-2xl p-5"
  >
    {names.map((name) => <KitImg name={name} />)}
  </div>
  <hr class="self-center border-b-2 bg-white w-3/4" />
  <div
    class="button my-10 mx-auto bg-amber-500 rounded-2xl text-white hover:cursor-pointer hover:opacity-90 p-3"
  >
    <a href="/produtos/linha-sabia"><button>saiba mais</button></a>
  </div>
</div>
