---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CartFlyout from "../components/CartFlyout.svelte";
import { GoogleAnalytics } from "astro-google-analytics";
import MetaPixel from "../components/MetaPixel.astro";
import Clarity from "../components/Clarity.astro";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR" class="scroll-smooth">
  <head>
    <MetaPixel />
    <Clarity />
    <GoogleAnalytics id="G-3W5CHVS101" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="facebook-domain-verification"
      content="ynigf6melo8nt2mlz4rmriiv2sjbkh"
    />
    <link rel="icon" type="image" href="/cropped-uforge_icon.webp" />
    {description && <meta name="description" content={description} />}
    <title>{title}</title>
  </head>

  <body class="text-gray-700 flex flex-col min-h-screen">
    <Header />
    <CartFlyout client:load />
    <slot />
    <Footer />
  </body>
</html>
