---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CartFlyout from "../components/CartFlyout.svelte";
import GTM from "../components/GTM.astro";
import CookieConsent from "../components/cookieConsent.svelte";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR" class="scroll-smooth">
  <head>
    <GTM />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="facebook-domain-verification"
      content="ynigf6melo8nt2mlz4rmriiv2sjbkh"
    />
    <link rel="icon" type="image" href="/cropped-uforge_icon.webp" />
    {description && <meta name="description" content={description} />}
    <title>{title}</title>
  </head>

  <body class="flex min-h-screen flex-col text-gray-700">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-T5MHTN6"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <CartFlyout client:idle />
    <slot />
    <CookieConsent client:only="svelte" />
    <Footer />
  </body>
</html>
