---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CartFlyout from "../components/CartFlyout.svelte";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/cropped-uforge_icon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Header />
  <body class="text-gray-700 flex flex-col min-h-screen">
    <CartFlyout client:load />
    <slot />
    <Footer />
  </body>
</html>
