---
import Layout from "./Layout.astro";
---

<Layout title="Microforge - Política de privacidade">
  <div class="p-8 text-justify">
    <h2 class="text-center font-bold text-2xl text-teal-900 mb-5">
      Política de Privacidade
    </h2>
    <div
      class="mx-auto prose max-w-5xl prose-h2:text-teal-900 prose-h2:text-2xl prose-h3:text-teal-900 prose-a:text-teal-900 hover:prose-a:text-teal-800"
    >
      <slot />
    </div>
  </div>
</Layout>
